<div class="col m3  blue-grey darken-4 mySidebar">
    <h3 class="pink-text">Discover New Tools</h3>
    <div class="divider"></div>
    <h4>Category</h4>
    <span ng-if="categories == false"><p>LOADING...</p></span>
    <ul ng-repeat="cat in categories">
        <li><a ng-href="/tools/?c={{cat.category}}" ng-click="addCat(cat.category)">{{cat.category}}</a></li>
    </ul>
    <div class="divider"></div>
    <h4>Popular Tags</h4>
    <span ng-if="tags == false"><p>LOADING...</p></span>
    <ul ng-repeat="tag in tags">
        <li><a ng-href="/tools/?t={{tag.tag}}" ng-click="addTag(tag.tag)">{{tag.tag}}</a></li>
    </ul>
</div>