<div class="row">
  <div class="col m3  blue-grey darken-4 mySidebar">
    <h3 class="pink-text">Drill down</h3>
    <div class="divider"></div>
    <h4>Category</h4>
    <ul ng-repeat="cat in categories">
        <li ng-class="{activeSidebar: activeCategory === cat.category}"><a href="#" ng-click="addCat(cat.category)">{{cat.category}}</a></li>
    </ul>
    <div class="divider"></div>
    <h4>Popular Tags</h4>
    <ul ng-repeat="tag in tags">
        <li ng-class="{activeSidebar: activeTag === tag.tag}"><a href="#" ng-click="addTag(tag.tag)">{{tag.tag}}</a></li>
    </ul>
  </div>
  <div class="col s12 m7 offset-m4 card-panel blue-grey darken-1">

    <div class="row">
      <h2>My Toolbox</h2>
    </div>
    <div class="row">
      <md-autocomplete md-search-text="toolSearchText" md-autofocus="true" md-search-text-change="searchTextChanged(toolSearchText)" md-selected-item="selectedTool" md-selected-item-change="focusOnSelectedTool()" placeholder="Quick find by name or tag" md-delay="200" md-items="tool in getMatches(toolSearchText)" md-item-text="tool.title" md-no-cache="true">
          <md-item-template>
            <span md-highlight-text="searchText">{{tool.title}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>

        <button ng-click="clearSearch()" id="clear-search-btn" class="btn waves-effect waves-light">Clear Search
        </button>

    </div>
    <div class="row">
      <!-- <div class="col m10 offset-m1 s12"> -->
        <div class="card-panel blue-grey darken-2">
          <ul class="collection" >
            <!-- If user is searching -->
            <li ng-if="userToolBox.searchTools" dir-paginate="tool in userToolBox.searchTools | itemsPerPage: 10" class="collection-item">
            <span class="user-tool-title"><a ng-href="/tools/{{tool.id}}">{{tool.title}}<md-tooltip md-direction="left">tool page</md-tooltip></a></span> <span class="tool-language">[{{tool.language}}]</span>
              <a href="#" ng-click="removeTool(tool.id)" class="secondary-content btn-floating waves-effect waves-light pink"><i class="mdi-content-clear "></i><md-tooltip>remove from toolbox</md-tooltip></a>
            <br>

                <span class="tool-search-results" ng-repeat="category in tool.categories"><a ng-href="/tools/?c={{category.category}}" class="tool-category">{{category.category}}</a></span>

              <a class="user-tool-link" ng-show="tool.web_url" ng-href="{{tool.web_url}}">
                <i class="mdi-social-public"></i>
                <md-tooltip>website</md-tooltip>
              </a>
              <a class="user-tool-link" ng-show="tool.repo_url" ng-href="{{tool.repo_url}}">
                <i class="mdi-communication-call-split"></i>
                <md-tooltip>repo</md-tooltip>
              </a>
              <a class="user-tool-link" ng-show="tool.doc_url" ng-href="{{tool.doc_url}}">
                <i class="mdi-action-description"></i>
                <md-tooltip>docs</md-tooltip>
              </a>
            </li>
            <!-- If nothing has been searched for -->
            <div ng-if="userToolBox.searchTools == false">
            <li dir-paginate="tool in tools | itemsPerPage: 10" class="collection-item">
            <span class="user-tool-title"><a ng-href="/tools/{{tool.id}}">{{tool.title}}<md-tooltip md-direction="left">tool page</md-tooltip></a></span> <span class="tool-language">[{{tool.language}}]</span>
              <a href="#" ng-click="removeTool(tool.id)" class="secondary-content btn-floating waves-effect waves-light pink"><i class="mdi-content-clear "></i><md-tooltip>remove from toolbox</md-tooltip></a>
            <br>

                <span class="tool-search-results" ng-repeat="category in tool.categories"><a ng-href="/tools/?c={{category.category}}" class="tool-category">{{category.category}}</a></span>

              <a class="user-tool-link" ng-show="tool.web_url" ng-href="{{tool.web_url}}">
                <i class="mdi-social-public"></i>
                <md-tooltip>website</md-tooltip>
              </a>
              <a class="user-tool-link" ng-show="tool.repo_url" ng-href="{{tool.repo_url}}">
                <i class="mdi-communication-call-split"></i>
                <md-tooltip>repo</md-tooltip>
              </a>
              <a class="user-tool-link" ng-show="tool.doc_url" ng-href="{{tool.doc_url}}">
                <i class="mdi-action-description"></i>
                <md-tooltip>docs</md-tooltip>
              </a>
            </li>
            </div>
          </ul>
          <div class="row">
            <div class="col s4 m4 offset-s4 offset-m4">
              <dir-pagination-controls></dir-pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
