<div class="markdownHelper">
  <span><a href="#" ng-hide="isFormattingHelpOpen" ng-click="formattingHelp(true)">Show Formatting Help</a>
  <a href="#" ng-show="isFormattingHelpOpen" ng-click="formattingHelp(false)">Hide Formatting Help</a></span>
  <div ng-show="isFormattingHelpOpen" class="card-panel blue-grey darken-2 message">
    <p>Reviews on DevBox.tools are formatted with markdown.</p>
    <table>
      <tr>
        <td width="50%">
          <ul>
            <li>italics: *this* or _this_ equals <em>this</em></li>
            <li>bold: **this** or __this__ equals <strong>this</strong></li>
            <li>strikethrough: ~~this~~ equals <del>this</del></li>
            <li>inline code: `this` equals <code>this</code></li>
            <li>block code: ```a block of multi line code```</li>
          </ul>
        </td>
        <td width="50%">
          <ol>
            <li>Ordered lists begin with a number.</li>
          </ol>
          <ul>
            <li>Unordered lists begin with either * , - , or + (notice the space that follows).</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
