<div class="row">
  <form class="col s12 m6 offset-m3 card-panel blue-grey darken-2 big-text">
    <h4>Edit {{title}}</h4>
    <div class="card-pannel blue-grey " ng-if="isAuthenticated === false"><p class="center-align">please log in to edit, otherwise current changes will not be saved</p></div>

    <div class="row">
      <div class="input-field col s12">
        <textarea ng-model="description" id="description" class="materialize-textarea" placeholder="Description"></textarea>
      </div>
      <div class="markdownHelper">
        <a href="#" ng-hide="isFormattingHelpOpen" ng-click="formattingHelp(true)">Show Formatting Help</a>
        <a href="#" ng-show="isFormattingHelpOpen" ng-click="formattingHelp(false)">Hide Formatting Help</a>
        <div ng-show="isFormattingHelpOpen" class="card-panel blue-grey darken-2">
          <p>Reviews on DevBox.tools are formatted with markdown.</p>
          <table>
            <tr>
              <td width="50%">
                <ul>
                  <li>italics: *this* or _this_ equals <em>this</em></li>
                  <li>bold: **this** or __this__ equals <strong>this</strong></li>
                  <li>strikethrough: ~~this~~ equals <del>this</del></li>
                  <li>inline code: `this` equals <code>this</code></li>
                  <li>block code: ```a block of multi line code```</li>
                </ul>
              </td>
              <td width="50%">
                <ol>
                  <li>Ordered lists begin with a number.</li>
                </ol>
                <ul>
                  <li>Unordered lists begin with either * , - , or + (notice the space that follows).</li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m4">
        <md-select ng-model="category01Pre" id="category01Pre" placeholder="Category">
          <md-option ng-repeat="category in categories" ng-selected="{{category.category == category01Pre.category}}" value="{{category.id}}">{{category.category}}</md-option>
        </md-select>
        <label for="category01Pre">Category</label>
      </div>
    </div>

    <div class="row">
      <md-chips ng-model="selectedTags" md-on-append="newTag($chip)" md-autocomplete-snap>
        <md-autocomplete
            md-selected-item="selectedTag"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.tag"
            placeholder="Tag Your Tool">
          <span md-highlight-text="searchText">{{item.tag}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.tag || $chip}}</strong>
          </span>
        </md-chip-template>
      </md-chips>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Language" ng-model="language" id="language" type="text">

      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <label>
            <input ng-model="is_open" name="is_open" type="checkbox">
            <span class="lever"></span>
            Open-Source
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input ng-model="is_free" class="with-gap" name="is_free" type="radio" value="1" id="free" />
        <label for="free">Free</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="is_free" class="with-gap" name="is_free" type="radio" value="0" id="paid" />
        <label for="paid">Paid</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="is_free" class="with-gap" name="is_free" type="radio" value="-1" id="freemium" />
        <label for="freemium">Freemium</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="web_url" id="web_url" type="text" placeholder="Website url">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="doc_url" id="doc_url" type="text" placeholder="Documentation url">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="repo_url" id="repo_url" type="text" placeholder="Repository url">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button ng-if="$root.isAuthenticated === true" ng-click="updateTool()" id="save-tool-btn" class="btn waves-effect waves-light deep-purple lighten-1" type="button">Submit
        </button>
        <button ng-if="$root.isAuthenticated === false" id="save-tool-btn" class="btn waves-effect waves-light deep-purple lighten-1" type="button">Submit<md-tooltip>login to edit</md-tooltip>
        </button>
      </div>
    </div>
  </form>
</div>
