<div class="row">

  <div class="col m3  blue-grey darken-4 mySidebar">
    <h3 class="pink-text">Filter By</h3>
    <div class="divider"></div>
    <h4>Category</h4>
    <ul ng-repeat="cat in categories">
        <li ng-class="{activeSidebar: activeCategory === cat.category}"><a  href="#" ng-click="addCat(cat.category)">{{cat.category}}</a></li>
    </ul>
    <div class="divider"></div>
    <h4>Popular Tags</h4>
    <ul ng-repeat="tag in tags">
        <li ng-class="{activeSidebar: activeTag === tag.tag}"><a href="#" ng-click="addTag(tag.tag)">{{tag.tag}}</a></li>
    </ul>
  </div>

  <div class="col m9">


    <div class="row">
      <div class="input-field col m6 offset-m3">
        <!-- <input id="search_tools" type="text" class="validate"> -->
        <!-- <label for="search_tools">Search</label> -->
        <md-autocomplete md-autofocus="true" md-selected-item="selectedTool" placeholder="Search (at least 3 chars)" md-delay="250" md-min-length="3" md-search-text="toolSearchText" md-items="tool in getMatches(toolSearchText)" md-item-text="tool.title" md-no-cache="true">
          <md-item-template>
            <span md-highlight-text="searchText">{{tool.title}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>

        <button ng-click="clearSearch()" id="clear-search-btn" class="btn waves-effect waves-light right">Clear Search
        </button>

      </div>
    </div>

    <div class="row">

  <!-- search body -->
      <div ng-show="searchTools">
        <div class="section tool-search-results" ng-repeat="tool in searchTools">
          <div class="col s1">
            <div ng-if="tool.hasVoted === false"><a class="not-voted" href="#" ng-click="upVote(tool.id)"><i class="mdi-navigation-expand-less"></i></a></div>
            <div ng-if="tool.hasVoted === true"><a class="has-voted" href="#" ng-click="removeVote(tool.id, tool.voteId)"><i class="mdi-navigation-expand-less"></i></a></div>
          </div>
          <div class="col s11">
            <h4><a ng-href="/tool/{{tool.id}}">{{tool.title}}</a></h4>
            <span class="tvotes-search-results"><strong>{{tool.votes}}</strong> up votes</span>
            <ul ng-repeat="category in tool.categories">
              <li><a href="#" class="tool-category" ng-click="addCat(category.category)">{{category.category}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>