
<div class="row">

  <div class="col m3  blue-grey darken-4 mySidebar">
    <h3 class="pink-text">Filter By</h3>
    <div class="divider"></div>
    <h4>Category</h4>
    <ul ng-repeat="cat in categories">
        <li ng-class="{activeSidebar: activeCategory === cat.category}"><a href="#" ng-click="addCat(cat.category)">{{cat.category}}</a></li>
    </ul>
    <div class="divider"></div>
    <h4>Popular Tags</h4>
    <ul ng-repeat="tag in tags">
        <li ng-class="{activeSidebar: activeTag === tag.tag}"><a href="#" ng-click="addTag(tag.tag)">{{tag.tag}}</a></li>
    </ul>
  </div>
  <div class="col s12 m9 offset-m3">
  <box-search-result></box-search-result>


    <div class="row">
      <div class="input-field col s12 m6 offset-m3">
        <!-- <input id="search_tools" type="text" class="validate"> -->
        <!-- <label for="search_tools">Search</label> -->
        <md-autocomplete md-autofocus="true" md-selected-item="selectedTool" md-selected-item-change="focusOnSelectedTool()" placeholder="Search Tools" md-delay="200" md-min-length="1" md-search-text="toolSearchText"  md-search-text-change="searchTextChanged(toolSearchText)"  md-items="tool in getMatches(toolSearchText)" md-item-text="tool.title" md-no-cache="true">
          <md-item-template>
            <span md-highlight-text="searchText">{{tool.title}}</span>
          </md-item-template>
          <md-not-found>
            No matches found.
          </md-not-found>
        </md-autocomplete>

        <button ng-click="clearSearch()" id="clear-search-btn" class="btn waves-effect waves-light">Clear Search
        </button>

      </div>
    </div>

    <div class="row">

  <!-- search body -->
      <div ng-show="searchTools">
        <div class="section tool-search-results" dir-paginate="tool in searchTools | itemsPerPage: 10">
          <div class="col s1">
            <div ng-if="$root.isAuthenticated === false"><a class="not-voted" href="#" ><i class="mdi-navigation-expand-less up-vote"></i><md-tooltip>log in to vote</md-tooltip></a></div>
            <div ng-if="tool.hasVoted === false && $root.isAuthenticated"><a class="not-voted" href="#" ng-click="upVote(tool.id)"><i class="mdi-navigation-expand-less up-vote"></i></a></div>
            <div ng-if="tool.hasVoted === true && $root.isAuthenticated"><a class="has-voted" href="#" ng-click="removeVote(tool.id, tool.voteId)"><i class="mdi-navigation-expand-less up-vote"></i></a></div>
          </div>
          <div class="col s11">
            <div class="row">
              <div class="col s8 m8">
                <h4 class="tool-title"><a ng-href="/tools/{{tool.id}}">{{tool.title}}</a></h4><span class="tool-language">[ {{tool.language}} ]</span>
              </div>
              <div class="col s4 m4 rev-wrapper">
                <span class="avg-rating" ng-repeat="i in getNumber(5) track by $index">
                  <i ng-if="tool.avg_rating >= $index + 1" id={{$index}} class="search-mouse mdi-hardware-mouse liked"></i>
                  <i ng-if="tool.avg_rating < $index + 1" id={{$index}} class="search-mouse mdi-hardware-mouse"></i>
                </span>
              </div>
            </div>
            <div class="col s8 m8">
              <span class="tvotes-search-results"><strong>{{tool.votes}}</strong> up votes</span>
              <ul>
                <li ng-repeat="category in tool.categories"><a href="#" class="tool-category" ng-click="addCat(category.category)">{{category.category}}</a></li>
              </ul>
              <a class="user-tool-link" ng-show="tool.web_url" ng-href="{{tool.web_url}}">
                <i class="mdi-social-public"></i>
                <md-tooltip>website</md-tooltip>
              </a>
              <a class="user-tool-link" ng-show="tool.repo_url" ng-href="{{tool.repo_url}}">
                <i class="mdi-communication-call-split"></i>
                <md-tooltip>repo</md-tooltip>
              </a>
              <a class="user-tool-link" ng-show="tool.doc_url" ng-href="{{tool.doc_url}}">
                <i class="mdi-action-description"></i>
                <md-tooltip>docs</md-tooltip>
              </a>
            </div>
            <div class="col s4 m4">
              <span class="avg-review-tag">avg. review</span>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s4 m4 offset-s4 offset-m4">
          <dir-pagination-controls></dir-pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>