<div class="row">
  <form class="col s12 m6 offset-m3 card-panel blue-grey darken-2 big-text">
    <h4>Add a New Tool</h4>
    <div class="card-pannel blue-grey " ng-if="isAuthenticated === false"><p class="center-align">please log in to add a tool, otherwise current changes will not be saved</p></div>
    <div class="card-pannel blue-grey message" ng-if="isAuthenticated" ng-show="showPrinciples">
      <p>Before adding, here's a few simple principles to keep DevBox.tools a great place:</p>
      <ol>
        <li><em>Quality:</em> We don't want to be the biggest, save that for the other guys. We want the best.</li>
        <li><em>Vetted:</em> Only submit tools you've personally used. This helps with numero uno.</li>
      </ol>
      <p>Thanks. Team { DevBox }</p>
      <p class="center-align"><a href="#" ng-click="hidePrinciples(false)" class="waves-effect waves-light btn deep-purple lighten-1">Hide</a></p>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input ng-blur="checkForExisitingTool()" ng-model="title" id="title" type="text" autofocus>
        <label for="title">Title (must be unique)</label>
        <div ng-if="isUniqueMessage">
          <div class="col s10 offset-s1 card-panel blue-grey message">
            <p>{{isUniqueMessage}} If your entry is unique, simply complete the form. Otherwise, visit the tool page.</p>
            <ul class="bulleted-list">
              <li ng-repeat="tool in conflictingTools">
                {{ tool.title }} | <a href="/tools/{{tool.id}}" target="_blank">visit tool page</a>
              </li>
            </ul>
            <p class="center-align"><a href="#" ng-click="hideUniqueMessage(false)" class="waves-effect waves-light btn deep-purple lighten-1">Hide</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea ng-model="description" id="description" class="materialize-textarea"></textarea>
        <label for="description">Description</label>
      </div>
    </div>

    <div class="row input-label">
      Choose up to three categories
    </div>

    <div class="row">
      <div class="col m4">
        <md-select ng-model="category01" placeholder="Category">
          <md-option ng-repeat="category in categories" value="{{category.id}}">{{category.category}}</md-option>
        </md-select>
      </div>
      <div class="col m4">
        <md-select ng-model="category02" placeholder="Category">
          <md-option ng-repeat="category in categories" value="{{category.id}}">{{category.category}}</md-option>
        </md-select>
      </div>
      <div class="col m4">
        <md-select ng-model="category03" placeholder="Category">
          <md-option ng-repeat="category in categories" value="{{category.id}}">{{category.category}}</md-option>
        </md-select>
      </div>
    </div>

    <div class="row">
      <md-chips ng-model="selectedTags" md-on-append="newTag($chip)" md-autocomplete-snap>
        <md-autocomplete
            md-selected-item="selectedTag"
            md-search-text="searchText"
            md-items="item in querySearch(searchText)"
            md-item-text="item.tag"
            placeholder="Tag Your Tool">
          <span md-highlight-text="searchText">{{item.tag}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.tag || $chip}}</strong>
          </span>
        </md-chip-template>
      </md-chips>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="language" id="language" type="text">
        <label for="language">Language</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <label>
            <input ng-model="is_open" name="is_open" type="checkbox">
            <span class="lever"></span>
            Open-Source
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input ng-model="is_free" class="with-gap" name="is_free" type="radio" value="1" id="free" />
        <label for="free">Free</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="is_free" class="with-gap" name="is_free" type="radio" value="0" id="paid" />
        <label for="paid">Paid</label>
      </div>
      <div class="input-field col s12">
        <input ng-model="is_free" class="with-gap" name="is_free" type="radio" value="-1" id="freemium" />
        <label for="freemium">Freemium</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="web_url" id="web_url" type="text">
        <label for="web_url">Website Url</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="doc_url" id="doc_url" type="text">
        <label for="doc_url">Documentation Url</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input ng-model="repo_url" id="repo_url" type="text">
        <label for="repo_url">Repository Url</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button ng-click="saveTool()" id="save-tool-btn" class="btn waves-effect waves-light deep-purple lighten-1" type="button">Submit
          <!-- <i class="mdi-content-send right"></i> -->
        </button>
      </div>
    </div>
  </form>
</div>
