<div class="row">
  <div class="col s12 m8 offset-m3 card-panel blue-grey darken-1">

    <div class="row">
      <div class="col m1">
        <br>
        <br>
        <a ng-if="$root.isAuthenticated" ng-click="addTool(tool.tool.id)" class="btn-floating waves-effect waves-light pink">
          <i ng-class="{'mdi-content-add': tool.favorited === false, 'mdi-content-clear': tool.favorited === true}"></i>
          <md-tooltip ng-if="tool.favorited === true">remove from your toolbox</md-tooltip>
          <md-tooltip ng-if="tool.favorited === false">add to your toolbox</md-tooltip>
        </a>
        <a ng-if="$root.isAuthenticated === false" class="btn-floating waves-effect waves-light pink">
          <i class="mdi-content-add"></i>
          <md-tooltip>log in to add to toolbox</md-tooltip>
        </a>
      </div>
      <div class="col m7">
        <h2>{{tool.tool.title}} </h2>
      </div>
      <div class="col m4">
        <br>
        <span ng-repeat="i in getNumber(number) track by $index">
          <i ng-if="tool.tool.avg_rating >= $index + 1" id={{$index}} class="small mdi-hardware-mouse liked"></i>
          <i ng-if="tool.tool.avg_rating < $index + 1" id={{$index}} class="small mdi-hardware-mouse"></i>
        </span><br>
        <span class="avg-review-tag">avg. user review</span>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col m10 offset-m1">
        <div class="card-panel blue-grey darken-2">
          <p>{{tool.tool.description}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col m6">
        <div class="card-panel blue-grey darken-2">
          <h5>Categories</h5>
          <ul class="tool-search-results">
            <li ng-repeat="category in tool.categories" class="tool-search-results">
              <a href="#" class="tool-category">{{category.category}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col m6">
        <div class="card-panel blue-grey darken-2">
          <h5>Tags</h5>
          <ul class="tool-search-results">
            <li ng-repeat="tag in tool.tags" class="tool-search-results">
              <a href="#" class="tool-category">{{tag.tag}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m6">
        <div class="card-panel blue-grey darken-2">
          <h5>Information</h5>
          <table>
            <tbody>
              <tr>
                <th>Language</th>
                <td>{{tool.tool.language}}</td>
              </tr>
              <tr>
                <th>Cost</th>
                <td>{{tool.tool.is_free}}</td>
              </tr>
              <tr>
                <th>Open-Source</th>
                <td>{{tool.tool.is_open}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col m6">
        <div class="card-panel blue-grey darken-2">
          <h5>Links</h5>
          <table>
            <tbody>
              <tr>
                <th class="big-header"><span class="small mdi-social-public"></span><a href="{{tool.tool.web_url}}"> Website</a></th>
                <td></td>
              </tr>
              <tr>
                <th class="big-header"><span class="mdi-action-description"></span><a href="{{tool.tool.doc_url}}"> Documentation</a></th>
                <td></td>
              </tr>
              <tr>
                <th class="big-header"><span class="mdi-communication-call-split"></span><a href="{{tool.tool.repo_url}}"> Repository</a></th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 offset-m3 card-panel blue-grey darken-1">

    <div class="row">
      <h3>Reviews</h3>
    </div>

    <div class="row">
      <form>
        <legend>Add a Review</legend>
        <div class="input-field">
          <div class="form-group">
            <textarea id="post" ng-model="post" style="display:none"></textarea>
            <div id="epiceditor"></div>
          </div>
        </div>
        <button ng-click="saveReview()" id="save-comment-btn" class="btn waves-effect waves-light deep-purple lighten-1" type="button">Add Comment</button>
      </form>
    </div>

    <div class="row" ng-repeat="review in tool.reviews_users" ng-bind-html-unsafe="review.review.post">
      <div class="card-panel blue-grey darken-2 review">
        <div class="reviewerName">
          {{review.user_name}}
          <span class="reviewTime" am-time-ago="review.review.updated_at"></span>
        </div>
        <div markdown="review.review.post"></div>
      </div>
    </div>

  </div>
</div>

<script>

  var opts = {
    container: 'epiceditor',
    textarea: post,
    basePath: '../../',
    clientSideStorage: false,
    localStorageName: 'epiceditor',
    useNativeFullscreen: true,
    parser: marked,
    file: {
      name: 'epiceditor',
      defaultContent: '',
      autoSave: 100
    },
    theme: {
      base: 'assets/themes/base/epiceditor.css',
      preview: 'assets/themes/editor/epic-dark.css',
      editor: 'assets/themes/editor/epic-dark.css'
    },
    button: {
      preview: false,
      fullscreen: false,
      bar: true
    },
    focusOnLoad: true,
    shortcut: {
      modifier: 18,
      fullscreen: 70,
      preview: 80
    },
    string: {
      togglePreview: 'Toggle Preview Mode',
      toggleEdit: 'Toggle Edit Mode',
      toggleFullscreen: 'Enter Fullscreen'
    },
    autogrow: false
  }
  var editor = new EpicEditor(opts).load();

</script>
