<header>
  <nav ng-controller="NavCtrl">
  <!-- PROFILE DROPDOWN -->
  <ul id="profile-dropdown-mobile" class="dropdown-content">
    <li><a href="/users/profile">My Toolbox</a></li>
    <li><a href="/tools/new">Add New Tool</a></li>
    <li class="divider"></li>
    <li>
      <a href="#" ng-click="logout()" ng-show="currentUser">Logout</a>
    </li>
  </ul>
  <ul id="profile-dropdown-desktop" class="dropdown-content">
    <li><a href="/users/profile">My Toolbox</a></li>
    <li><a href="/tools/new">Add New Tool</a></li>
    <li class="divider"></li>
    <li>
      <a href="#" ng-click="logout()" ng-show="currentUser">Logout</a>
    </li>
  </ul>
  <!-- NAV -->
    <div class="nav-wrapper blue-grey darken-2">
      <a href="/" class="brand-logo">{ DevBox } <small>v1.0.2-beta</small></a>
      <a href="#" data-activates="mobile_sidebar" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/tools">Search Toolbox</a></li>
        <li><a href="/about">About</a></li>
        <li>
          <a ng-show="currentUser" class="dropdown-button" href="#!" data-activates="profile-dropdown-desktop">Profile <i class="mdi-navigation-arrow-drop-down right"></i></a>
          <a href="/login" ng-hide="currentUser">Login</a>
        </li>
        <li>
          <img src="{{currentUser.image_url}}" ng-show="currentUser" class="nav responsive-img">
        </li>
      </ul>
      <ul class="side-nav" id="mobile_sidebar">
        <li><a href="/tools">Search Toolbox</a></li>
        <li>
          <a ng-show="currentUser" class="dropdown-button" href="#!" data-activates="profile-dropdown-mobile">Profile <i class="mdi-navigation-arrow-drop-down right"></i></a>
          <a href="/login" ng-hide="currentUser">Login</a>
        </li>
        <li><a href="/about">About</a></li>
        <li>
          <a href="/login" ng-hide="currentUser">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- <alerts></alerts> -->
<main>
  <ng-view></ng-view>
</main>
<footer>
  <div class="page-footer">
    <div class="center-align"><a href="/about">About</a> | <a href="https://github.com/goopscoop/dev_box">Fork us on Github</a></div>
  </div>
</footer>
