/*
  Navbar Responsive-Image (Profile Pic
  Force height to nav bar height
*/

/* FONTS */

body, html {
  background-color: #37474f;
}


h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro' ;
}

h1 {
  color: white;
}

h2 {
  color: #c6ff00;
}

h3 {
  color: #c6ff00;
}

h4 {
   color: #c6ff00;
}

h5 {
  color: #c6ff00;
}

p, li, h6 {
  font-family: 'Anonymous Pro' ;
}

p {
  color: white;
}

th, td {
  color: white;
}
nav img.responsive-img {
    height: 64px;
}

/* Tools#Index page */

.up-vote {
  padding-left: 45px;
  font-size: 2em;
}

.button-holder {
  width: 100%;
}

.avg-rating {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.25em;
}

#clear-search-btn {
  width: 100%;
  margin: 15px auto 0;
  background: #7e57c2;
}

.not-voted {
  color: white;
}

.has-voted {
  color: #64b5f6;
}

.tool-search-results h4 a {
  color: #c6ff00;
}

.tool-search-results h4 {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

 .tool-search-results ul,
 .tool-search-results li {
  padding: 0;
  margin: 0;
  display: inline;
}

.rev-wrapper{
  display: table-cell;
  vertical-align: top;
}

.avg-review-tag {
  background: #78909c;
  color: #37474f;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 6px;
}

.tool-search-results div.row {
  margin-bottom: 0;
}

.search-mouse {
  font-size: 1em;
}

.tvotes-search-results {
  color: #78909c;
  padding-right: 5px;
}

.tool-category {
  color: #37474f;
  background: #ffe082;
  padding: 2px 4px;
  border-radius: 2px;
}

.mySidebar {
  height: auto;
}

.activeSidebar {
  background: #7e57c2;
  padding: 4px 16px;
  border-radius: 2px;

}

.activeSidebar a {
  color: white !important;
}

.mySidebar h3 {
  color: #e91e63;
  font-size: 32px;
  padding-left: 15px;
}

.mySidebar h4 {
  color: #c6ff00;
  font-size: 28px;
  padding-left: 30px;
}

.mySidebar li a {
  color: #ffe082;
  margin-left: 45px;
}

/* Liked is the color for the avg_rating mice */
.liked {
  color: #e91e63;
}

md-select.md-default-theme .md-select-label.md-placeholder {
  color: #9e9e9e;
}

md-select.md-default-theme .md-select-label {
  border-bottom: none;
  /*min-width: 250px;*/
}

.md-select-label {
  color: #9e9e9e;
}

.input-label {
  color: #9e9e9e;
  padding: 0 0.75rem;
}

.show-page-mice {
  padding-top: 25px;
}

