/*
  Navbar Responsive-Image (Profile Pic
  Force height to nav bar height
*/

/* FONTS */

body, html {
  background-color: #37474f;
  min-height: 100%;
  height: 100%;
/*  display: flex;
  flex-direction: column;*/

}

.nav-wrapper a{
  white-space: nowrap;
}

h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro' ;
}

h1 {
  color: white;
}

h2 {
  color: #c6ff00;
}

h3 {
  color: #c6ff00;
}

h4 {
   color: #c6ff00;
}

h5 {
  color: #c6ff00;
}

p, li, h6 {
  font-family: 'Anonymous Pro' ;
}

p {
  color: white;
}

th, td {
  color: white;
}

nav img.responsive-img {
    height: 64px;
}

.divider {
  background-color: #455a64;
}

/* Home page */

.popular-section {
  background-color: #455a64;
  padding: 20px;
}

.recent-section {
  background-color: #455a64;
  padding: 20px;
}

.home-section-title {
  color: white;
}

/* Users#Show page */

.user-tool-title a {
  color: #c6ff00;
}

.user-tool-link  {
  color: #ffe082;
}

.collection .collection-item {
  background-color: #546e7a;
  border-bottom: 1px solid #455a64;
}

.collection {
  border: 1px solid #455a64;
}

/* Tools#Index page */

.up-vote {
  padding-left: 45px;
  font-size: 2em;
}

.button-holder {
  width: 100%;
}

.avg-rating {
  display: inline-block;
  padding-top: 10px;
  font-size: 1.25em;
}

#clear-search-btn {
  width: 100%;
  margin: 15px auto 0;
  background: #7e57c2;
}

#home-search-btn {
  width: 100%;
  margin: 15px auto 0;
  background: #7e57c2;
}

.not-voted {
  color: white;
}

.has-voted {
  color: #64b5f6;
}

.tool-search-results h4 a {
  color: #c6ff00;
}

.tool-search-results h4 {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

 .tool-search-results ul,
 .tool-search-results li {
  padding: 0;
  margin: 0;
  display: inline;
}

.rev-wrapper{
  display: table-cell;
  vertical-align: top;
}

.avg-review-tag {
  background: #78909c;
  color: #37474f;
  padding: 2px 4px;
  border-radius: 2px;
  margin-left: 6px;
}

.tool-search-results div.row {
  margin-bottom: 0;
}

.search-mouse {
  font-size: 1em;
}

.tvotes-search-results {
  color: #78909c;
  padding-right: 5px;
}

.tool-title {
  font-size: 0.5em;
  display: inline;
}

.tool-category {
  color: #37474f;
  background: #ffe082;
  padding: 2px 4px;
  margin-right: 2px;
  border-radius: 2px;
}

.tool-language {
  color: #78909c;
  /*background: #ffe082;*/
  padding: 2px 4px 2px 15px;
  border-radius: 2px;
  display: inline;
}

.mySidebar {

  height: 183%;
  top: 64px;
  bottom: 0;
  position: absolute;
}

.activeSidebar {
  background: #7e57c2;
  padding: 4px 16px;
  border-radius: 2px;

}

.activeSidebar a {
  color: white !important;
}

.mySidebar h3 {
  color: #e91e63;
  font-size: 32px;
  padding-left: 15px;
}

.mySidebar h4 {
  color: #c6ff00;
  font-size: 28px;
  padding-left: 30px;
}

.mySidebar li a {
  color: #ffe082;
  margin-left: 45px;
}

/* Liked is the color for the avg_rating mice */
.liked {
  color: #e91e63;
}

md-select.md-default-theme .md-select-label.md-placeholder {
  color: #9e9e9e;
}

md-select.md-default-theme .md-select-label {
  border-bottom: none;
}

.md-select-label {
  color: #9e9e9e;
}

md-select.md-default-theme:not([disabled]):focus .md-select-label.md-placeholder {
  color: #e91e63;
}

.input-label {
  color: #9e9e9e;
  padding: 0 0.75rem;
}

md-select.md-default-theme:not([disabled]):focus .md-select-label {
  border-bottom: none;
  color: #e91e63;
}

.switch label {
  top: -20px;
}

/* Unchecked Radio Button */
[type="radio"]:not(:checked)+label:before {
  border: 2px solid #9e9e9e;
}

/* Checked Radio Button */
[type="radio"].with-gap:checked+label:before {
  border: 2px solid #7e57c2;
}

/* Checked Radio Button Inner */
[type="radio"].with-gap:checked+label:after {
  border: 2px solid #7e57c2;
  background-color: #7e57c2;
}

/* Switch Label */
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #7e57c2;
}

/* Switch Label */
.switch label input[type=checkbox]:checked+.lever {
  background-color: #7e57c2;
}

form.big-text {
  font-size: 22px;
}

.md-select-label :first-child {
  line-height: 1.6rem;
}

.input-field label {
  font-size: 1.6rem;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  font-size: 1.6rem;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #e91e63;
}

form {
  color: #9e9e9e
}

md-chips.md-default-theme .md-chips.md-focused {
   box-shadow: none;
}

md-chips.md-default-theme .md-chips {
   box-shadow: none;
}

.md-chips .md-chip-input-container input:not([type]), .md-chips .md-chip-input-container input[type=email], .md-chips .md-chip-input-container input[type=number], .md-chips .md-chip-input-container input[type=tel], .md-chips .md-chip-input-container input[type=url], .md-chips .md-chip-input-container input[type=text] {
  font-size: 1.2rem;
}

.show-page-mice {
  padding-top: 25px;
}

#save-comment-btn, #save-tool-btn {
  width: 100%;
}

.big-header {
  font-size: 18px;
  padding: 12px 5px;
}

.review {
  color: #DFDFDF;
}

.reviewTime {
  color: rgba(158, 158, 158, 0.43);
}

.review p {
  color: #DFDFDF;
}

.review ul li {
  list-style-type: disc;
}

.review code, kbd, pre, samp {
  background-color: #37474f;
}

.review h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
}
