<div class="row">
  <div class="col s12 m8 offset-m2 card-panel blue-grey darken-2 big-text">

    <h2>About { DevBox }.tools</h2>
    <h4>Team</h4>
    <div class="row">
      <div class="col m4 offset-m1">
        <h5>Nick Cronquist</h5>
        <p>Nick may be a web developer, but he's more than just a pair of hands that build kickass websites. However, this is not a fact we aknowledge to his face.</p>
        <p><a href="http://ncronquist.com">portfolio</a> | <a href="https://github.com/ncronquist">github</a> | <a mailto="nick@ncronquist.com">email</a></p>
      </div>
      <div class="col m4 offset-m1">
        <h5>S. Cody Barrus</h5>
        <p>Cody is a web developer and author, but don't ask him about his books because he won't shut up about them once he gets going.</p>
        <p><a href="http://codybarrus.com">portfolio</a> | <a href="https://github.com/goopscoop">github</a> | <a email="codybarrus@gmail.com">email</a></p>
      </div>
    </div>
    <h4>Inception</h4>
    <p>DevBox is probably the best place on the internet. It's so great because it's a place where you can finally, easily find the development tools you want to use on your next project. Or, find the tools you should have used on your last one (which is always good to know, but kinda sucks when you find out).</p>
    <p>Developed by Nick Cronquist and S. Cody Barrus in the last week of June 2015 (only 6 days from conception to production), we wanted a place to organize all of our dev tools, repos and docs in a way that works better than just the bookmarks toolbar. So we made it.</p>
    <h4>Technologies</h4>
    <p>DevBox is powered by Rails, Angular.js, and Postgres, styled with Materialize.css and Material, and fueled by late night caffine enimas and early morning boozings.</p>
    <h4>Hire Us</h4>
    <p>Nick and Cody are currently looking for the great opportunities... or VC funding to fuel this site. Your call.</p>
    </div>
</div>
