<div class="row">
  <dev-left-sidebar categories="categories" tags="tags"></dev-left-sidebar>

  <!-- END SIDEBAR START CONTENT -->
  <div class="col s12 m10 offset-m2 l9 offset-l3">
    <div class="row">
      <div class="col m8 offset-m2">
        <div class="row">
          <br>
          <h3>Welcome to</h3>
          <h1 class="right-align">{ DevBox }.tools</h1>
          <p class="right-align">by the community, for the community</p>
        </div>
        <div class="row">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <p class="center-align">discover the tools || libraries || frameworks you need<br> to get any job done</p>
              <a class="btn waves-effect waves-light" id="home-search-btn" href="/tools">search now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m10 offset-m1">
    <div class="row popular-section">
        <h4 class="home-section-title">Popular Tools</h4>
        <span ng-if="popular == false"><p>LOADING...</p></span>
        <div ng-show="popular">
        <div class="section tool-search-results" ng-repeat="tool in popular">
          <div class="col s1">
            <div ng-if="$root.isAuthenticated === false"><a class="not-voted" href="#" ><i class="mdi-navigation-expand-less up-vote"></i><md-tooltip>log in to vote</md-tooltip></a></div>
            <div ng-if="tool.hasVoted === false && $root.isAuthenticated"><a class="not-voted" href="#" ng-click="upVotePopular(tool.id)"><i class="mdi-navigation-expand-less up-vote"></i></a></div>
            <div ng-if="tool.hasVoted === true && $root.isAuthenticated"><a class="has-voted" href="#" ng-click="removeVotePopular(tool.id, tool.voteId)"><i class="mdi-navigation-expand-less up-vote"></i></a></div>
          </div>
          <div class="col s11">
            <div class="row">
              <div class="col s8 m8">
                <h4 class="tool-title"><a ng-href="/tools/{{tool.id}}">{{tool.title}}</a></h4><span class="tool-language">[ {{tool.language}} ]</span>
              </div>
              <div class="col s4 m4 rev-wrapper">
                <span class="avg-rating" ng-repeat="i in getNumber(5) track by $index">
                  <i ng-if="tool.avg_rating >= $index + 1" id={{$index}} class="search-mouse mdi-hardware-mouse liked"></i>
                  <i ng-if="tool.avg_rating < $index + 1" id={{$index}} class="search-mouse mdi-hardware-mouse"></i>
                </span>
              </div>
            </div>
            <div class="col s8 m8">
              <span class="tvotes-search-results"><strong>{{tool.votes}}</strong> up votes</span>
              <ul>
                <li ng-repeat="category in tool.categories"><a href="#" class="tool-category" ng-click="addCat(category.category)">{{category.category}}</a></li>
              </ul>
            </div>
            <div class="col s4 m4">
              <span class="avg-review-tag">avg. review</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col m10 offset-m1">
      <div class="row recent-section">

          <h4 class="home-section-title">Recently Added Tools</h4>
          <span ng-if="popular == false"><p>LOADING...</p></span>
          <div ng-show="popular ">
          <div class="section tool-search-results" ng-repeat="tool in recent">
            <div class="col s1">
              <div ng-if="$root.isAuthenticated === false"><a class="not-voted" href="#" ><i class="mdi-navigation-expand-less up-vote"></i><md-tooltip>log in to vote</md-tooltip></a></div>
              <div ng-if="tool.hasVoted === false && $root.isAuthenticated"><a class="not-voted" href="#" ng-click="upVoteRecent(tool.id)"><i class="mdi-navigation-expand-less up-vote"></i></a></div>
              <div ng-if="tool.hasVoted === true && $root.isAuthenticated"><a class="has-voted" href="#" ng-click="removeVoteRecent(tool.id, tool.voteId)"><i class="mdi-navigation-expand-less up-vote"></i></a></div>
            </div>
            <div class="col s11">
              <div class="row">
                <div class="col s8 m8">
                  <h4 class="tool-title"><a ng-href="/tools/{{tool.id}}">{{tool.title}}</a></h4><span class="tool-language">[ {{tool.language}} ]</span>
                </div>
                <div class="col s4 m4 rev-wrapper">
                  <span class="avg-rating" ng-repeat="i in getNumber(5) track by $index">
                    <i ng-if="tool.avg_rating >= $index + 1" id={{$index}} class="search-mouse mdi-hardware-mouse liked"></i>
                    <i ng-if="tool.avg_rating < $index + 1" id={{$index}} class="search-mouse mdi-hardware-mouse"></i>
                  </span>
                </div>
              </div>
              <div class="col s8 m8">
                <span class="tvotes-search-results"><strong>{{tool.votes}}</strong> up votes</span>
                <ul>
                  <li ng-repeat="category in tool.categories"><a href="#" class="tool-category" ng-click="addCat(category.category)">{{category.category}}</a></li>
                </ul>
              </div>
              <div class="col s4 m4">
                <span class="avg-review-tag">avg. review</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>